.container {
    width: 1920px;
    min-height: 800px;
    /*    border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 220px;
    /*    border: 1px solid black;*/
    display: flex;
    flex-direction: column;

}

.body {
    width: 1920px;
    /*    border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 0px;
}


/*HEADER-----------------------------------------------------------*/

.info {
    /*    border: 1px solid black;*/
    margin-left: 473px;
    margin-right: 473px;
    height: 174px;
    /*    width: 80%;*/
    display: flex;
    flex-direction: row;
}

.menu {
    /*    border: 1px solid black;*/
    background: #28417c;
    height: 49px;

}


.list_menu {
    list-style-type: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 823px;
    margin-left: 551px;
    margin-top: 16px;
}

.logo {
    max-width: 212px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo_img {
    margin-top: 14px;
    width: 212px;
    height: 90px;
}

.logo_text {
    width: 167px;
    height: 28px;
    font-family: Arial;
    text-align: center;
    font-size: 14px;
    color: #28417c;
    font-weight: 400;
    line-height: 14px;
    margin-top: 5px;
}

.call_us {
    display: flex;
}

.pros {
    margin-right: 14px;
}

.list_pros {
    font-family: Arial;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    list-style-image: url(img/check30.png);
    margin-top: 28px;
}

.call_us img {
    margin-top: 38px;
    width: 63px;
    height: 63px;
    margin-right: 14px;
}

.call_us_text {
    margin-top: 27px;
}

.call {
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.number {
    font-family: Arial;
    color: #22b634;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.num_1 {
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.num_2 {
    font-family: ArialNarrow;
    color: #28417c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

/*BODY------------------------------------------------------------*/

.first_block {
    height: 839px;
    width: 1920px;
    background: #ffffff url(img/IMG_4431.png);
    padding: 0px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_text_1 {
    font-family: Arial;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    /*    margin-top: 50px; см паддинг выше*/
    /*    margin-left: 556px;*/
    /*    margin-right: 540px;*/
    /*    padding-left: 0px;*/
}

.main_text_2 {
    width: 720px;
    height: 18px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    /*    margin-left: 609px;*/
    margin-top: 21px;
}

.sale {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auction {
    width: 176px;
    height: 53px;
    border-radius: 10px;
    background-color: #da2128;
    margin-top: 24px;
}

.auction_text {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 13px;
}

.hurry {
    margin-top: 10px;
    width: 261px;
    height: 157px;
    border: solid 1px #28417c;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.hurry_text {
    width: 199px;
    height: 114px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    text-transform: uppercase;
}

.free_word {
    font-size: 24px;
    line-height: 1;
}

.sign_up_free {
    width: 389px;
    height: 314px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 119px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_up_free_text {
    width: 278px;
    height: 45px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 16px;
}

.sign_up_free_form {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f_form_name {
    width: 294px;
    height: 30px;
    background-color: #ededed;
    margin-bottom: 22px;
}

.f_form_phone {
    width: 294px;
    height: 30px;
    background-color: #ededed;
}

.sign_up_free_confidential {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 14px;
}

.sign_up_free_button {
    width: 293px;
    height: 68px;
    background-image: linear-gradient(to top, #f9d503, #ffdc0d);
    margin-top: 18px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}

.sign_up_free_button_text {
    width: 170px;
    height: 42px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #3a3a39;
    text-align: center;
    padding-top: 13px;
}

/*2-nd block-------------------------------------------------------*/

.second_block_1 {
    height: 453px;
    display: flex;
    justify-content: center;
}

.icon_block_1 {
    /*    width: 739px;*/
    width: 813px;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
}

.icon_first_row {
    display: flex;
    justify-content: space-between;
}

.icon_second_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.ico_1 {
    height: 101px;
    width: 177px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ico_1_text {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

.ico_calender {
    margin-top: 6px;
}

/*классы, относящиеся к ico_1*/

.i1 {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    width: 170px;
}

.i2 {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    width: 180px;
}

.i3 {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    width: 165px;
}

.i4 {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    width: 156px;
}

.i5 {
    width: 170px;
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

.i6 {
    width: 161px;
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

.ico_1_img {
    display: flex;
    justify-content: center;
}
/*----------------------------*/

.second_block_2 {
    height: 930px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sb_main_text {
    margin-top: 52px;
    width: 729px;
    height: 35px;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #ff9fff;
}

.sb_worries{
    height: 821px;
    width: 954px;
    margin-top: 22px;
}

@font-face {
    font-family: ArialNarrow;
    src: url(fonts/arial-narrow.ttf);
    font-style: normal;
    font-weight: normal;
}


