body {
    margin: 0px;
}

.container {
    width: 1920px;
    /*    height: 8000px;*/
    height: auto;
    display: flex;
    flex-direction: column;
}

.header {
    width: 1920px;
    height: 710px;
    background-image: url(img/Layer%201.png);
    display: flex;
}

.logo {
    margin-top: 28px;
    margin-left: 24px;
}

.menu {
    width: 722px;
    height: 26px;
    margin-left: 177px;
    font-family: Georgia;
    font-size: 37.5px;
    font-weight: 400;
    color: #ffffff;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phone {
    margin-left: 401px;
    margin-top: 41px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;

}

.phone_num {
    font-size: 41.67px;
}

.school {
    position: absolute;
    left: 209px;
    top: 220px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 33.33px;
    font-weight: 400;

}

.sign_1 {
    position: absolute;
    left: 310px;
    top: 381px;
    background-color: #ffffff;
    border-radius: 11px;
    box-shadow: 4px 7px 18px 0px rgba(0, 0, 0, 0.31);
    width: 292px;
    height: 61px;
    font-family: Georgia;
    font-size: 42px;
    text-align: center;
    color: #0cb2c0;
    font-weight: bold;
    padding-top: 10px;
}

.block_1 {
    height: 700px;
    width: 1920px;
    display: flex;
    justify-content: center;
    position: relative;
}

.group_all {
    position: absolute;
    top: -60px;
    font-family: Georgia;
    font-size: 44px;
    font-weight: bold;
    color: #0cb2c0;
}


.g_name {
    font-family: Georgia;
    color: #ffffff;
    font-size: 43.91px;
    border-bottom: 2px;
    border-bottom-color: white;
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
}

.more {
    position: absolute;
    top: 54px;
    left: 20px;
    width: 118px;
    border-bottom: 3px solid white;
    height: 1px;
}

.g_small {
    font-size: 31px;
}


.group_1 {
    width: 355px;
    height: 410px;
    background-image: url(img/Layer%203.png);
    margin-top: 129px;
    position: relative;
}

.group_2 {
    width: 355px;
    height: 410px;
    background-image: url(img/Layer%204.png);
    margin-top: 129px;
    position: relative;
}

.group_3 {
    width: 355px;
    height: 410px;
    background-image: url(img/Layer%205.png);
    margin-top: 129px;
    position: relative;
}

.doubt {
    position: absolute;
    left: 41px;
    top: 179px;
    font-family: Georgia;
    color: #0cc5cf;
    font-size: 32.16px;
}

.doubt_text {
    margin-top: 41px;
}

.doubt_button {
    margin-top: 33px;
    margin-left: 18px;
    width: 214px;
    height: 50px;
    border: solid 15px #0cb8c2;
    background-color: #ffffff;
    color: #0cb8c2;
    text-align: center;
    padding-top: 5px;
}

.block_2 {
    width: 1920px;
    height: 656px;
    display: flex;
    justify-content: center;
    background-image: url(img/Layer%2010%20copy.png);
}

.icons {
    width: 1025px;
    height: 656px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ico_text {
    font-family: Georgia;
    font-size: 25px;
    width: 228px;
    height: 53px;
    position: absolute;
    bottom: -10px;
    text-align: center;
}

.ico_img {
    margin-bottom: 16px;
}

.micro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 228px;
    height: 230px;
    margin-top: 29px;
    position: relative;
    margin-right: 3%;
}

.block_3 {
    height: 990px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.six {
    text-align: center;
}

/*__________________________*/

.third_block_1_title {
    width: 856px;
    height: 75px;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    margin-top: 120px;
    text-transform: uppercase;
}

.six {
    font-size: 60px;
    line-height: 0.4;
    color: #da2128;
}

.tb_text_description {
    width: 762px;
    height: 90px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: justify;
    color: #39393a;
    margin-top: 55px;
}

.tb_icon {
    width: 945px;
    height: 452px;
    margin-top: 43px;
    display: flex;
    flex-direction: column;
}

/*tb_icon---------------------*/

.tb_icon_firstrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tb_icon_secondrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 28px;
}

.tb_icon_thirdrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 28px;
}

.icon_text {
    margin-left: 30px;
}

.icon_head_text {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #28417c;
}

.icon_normal_text {
    width: 218px;
    height: 83px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: justify;
    color: #39393a;
    margin-top: 13px;
}

.icon_31 {
    display: flex;
    flex-direction: row;
}

/*--------------------------------*/

.block_4 {
    height: 240px;
    width: 1920px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.bookmark {
    position: absolute;
    z-index: 0;
}

.text_1 {
    width: 420px;
    height: 91px;
    font-family: Georgia;
    font-size: 26.5px;
    color: #ffffff;
    z-index: 1;
    margin-left: 25%;
    margin-top: 1%;
}

.text_2 {
    width: 473px;
    height: 209px;
    font-family: Georgia;
    font-size: 28px;
    color: #0cb8c2;
    z-index: 1;
    font-style: italic;
    margin-left: 10%;
    margin-top: 1%
}

.WS {
    font-weight: bold;
    font-style: normal;
}

.press_me {
    border-radius: 8px;
    border-width: 8.333333333333334px;
    border-color: #ffffff;
    border-style: solid;
    width: 247px;
    height: 42px;
    padding-top: 10px;
    position: absolute;
    left: 25%;
    top: 55%;
    font-family: Georgia;
    color: #ffffff;
    font-size: 28.5px;
    text-align: center;
}

/*-----------------------------------*/

.block_5 {
    height: 1030px;
    width: 1920px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fib_text {
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    color: #28417c;
    margin-top: 56px;
}

.teachers_card {
    width: 980px;
    height: 338px;
    display: flex;
    margin-top: 65px;
}

.tc_line {
    width: 971px;
    height: 1px;
    background-image: linear-gradient(to left, #ffffff, rgba(40, 65, 124, 1) 50%, #ffffff);
    margin-top: 50px;
}

.foto {
    width: 323px;
    height: 323px;
}

.techcard_info_1 {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.techcard_info_2 {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.t_name {
    display: flex;
    flex-direction: row;
}

.name_ms {
    width: 117px;
}

.name_name {
    font-family: Arial;
    font-size: 24px;
    line-height: 1;
    color: #28417c;
    margin-bottom: 30px;
}

.name_text {
    height: 98px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: #3d3d3d;
}

.seven_years {
    width: 70px;
    background-color: #53b7e8;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
}

.name_abilities {
    width: 335px;
    margin-left: 100px;
}

.teachers_pros {
    list-style-image: url(img/check_red.svg);
    font-family: Arial;
    font-size: 14px;
    text-align: left;
    color: #3d3d3d;
    line-height: 2;
}

.t_text {
    width: 570px;
    height: 86px;
    font-family: Arial;
    font-size: 14px;
    text-align: justify;
    color: #3d3d3d;
    margin-top: 16px;
    line-height: 1.3;
}

.t_certificate {
    height: 60px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 17px;
    font-family: Arial;
    font-size: 14px;
    color: #3d3d3d;
}

/*---------*/

.block_6 {
    width: 1920px;
    height: 1200px;
    background-color: #baedf0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_to {
    font-family: Georgia;
    font-size: 44px;
    font-weight: bold;
    color: #000000;
    margin-top: 83px;
}

.form {
    border-radius: 9px;
    border-width: 4.166666666666667px;
    border-color: #000000;
    border-style: solid;
    width: 1190px;
    height: 792px;
    margin-top: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data {
    width: 1090px;
    height: 430px;
    display: flex;
    flex-flow: row wrap;
    font-family: Georgia;
    font-size: 24px;
    margin-top: 72px;
    margin-left: 20px;
}

.f_name {
    width: 371px;
    height: 90px;
    border-bottom: 1px solid black;
}

.f_surname {
    width: 371px;
    height: 90px;
    margin-left: 168px;
    border-bottom: 1px solid black;
    margin-right: 120px;
}

.f_age {
    width: 90px;
    height: 90px;
    border-bottom: 1px solid black;
}

.f_mail {
    width: 360px;
    height: 90px;
    margin-left: 106px;
    border-bottom: 1px solid black;
}

.f_tel {
    width: 360px;
    height: 90px;
    margin-left: 52px;
    border-bottom: 1px solid black;
}

.f_lvl {
    width: 320px;
    height: 90px;
    border-bottom: 1px solid black;
}

.f_course {
    width: 370px;
    height: 90px;
    margin-left: 158px;
    border-bottom: 1px solid black;
}

.obligatory {
    margin-top: 82px;
}

.f_but {
    background-color: #0cb8c2;
    border-radius: 8px;
    width: 423px;
    height: 79px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 44.77px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    margin-top: 34px;
}

.footer {
    width: 1920px;
    height: 134px;
    background-color: #0cb8c2;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.foot_logo {
    margin-top: 20px;
}

.foot_phone {
    margin-top: 30px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 44.85px;
}

.foot_icons {
    margin-top: 40px;
}


/*активные элементы*/

.menu li:hover {
    
}
