.container {
    width: 1920px;
    min-height: 800px;
    /*    border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}

.header {
    width: 1920px;
    height: 220px;
    /*    border: 1px solid black;*/
    display: flex;
    flex-direction: column;

}

.body {
    width: 1920px;
    height: 9000px;
    /*    border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    background: url(img/IMG_4431bc.png);
}

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 0px;
}


/*HEADER-----------------------------------------------------------*/

.info {
    /*    border: 1px solid black;*/
    margin-left: 473px;
    margin-right: 473px;
    height: 174px;
    /*    width: 80%;*/
    display: flex;
    flex-direction: row;
}

.menu {
    /*    border: 1px solid black;*/
    background: #28417c;
    height: 49px;

}


.list_menu {
    list-style-type: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 823px;
    margin-left: 551px;
    margin-top: 16px;
}

.logo {
    max-width: 212px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo_img {
    margin-top: 14px;
    width: 212px;
    height: 90px;
}

.logo_text {
    width: 167px;
    height: 28px;
    font-family: Arial;
    text-align: center;
    font-size: 14px;
    color: #28417c;
    font-weight: 400;
    line-height: 14px;
    margin-top: 5px;
}

.call_us {
    display: flex;
}

.pros {
    margin-right: 14px;
}

.list_pros {
    font-family: Arial;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    list-style-image: url(img/check30.png);
    margin-top: 28px;
}

.call_us img {
    margin-top: 38px;
    width: 63px;
    height: 63px;
    margin-right: 14px;
}

.call_us_text {
    margin-top: 27px;
}

.call {
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.number {
    font-family: Arial;
    color: #22b634;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.num_1 {
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.num_2 {
    font-family: ArialNarrow;
    color: #28417c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

/*BODY------------------------------------------------------------*/

.first_block {
    /*    height: 839px;*/
    height: 789px;
    width: 1920px;
    /*    background: #ffffff url(img/IMG_4431.png);*/
    padding: 0px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_text_1 {
    font-family: Arial;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    /*    margin-top: 50px; см паддинг выше*/
    /*    margin-left: 556px;*/
    /*    margin-right: 540px;*/
    /*    padding-left: 0px;*/
}

.main_text_2 {
    width: 720px;
    height: 18px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    /*    margin-left: 609px;*/
    margin-top: 21px;
}

.sale {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auction {
    width: 176px;
    height: 53px;
    border-radius: 10px;
    background-color: #da2128;
    margin-top: 24px;
}

.auction_text {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 13px;
}

.hurry {
    padding-top: 20px;
    margin-top: 10px;
    width: 261px;
    height: 137px;
    /* 157px*/
    border: solid 1px #28417c;
    border-radius: 8px;
    /*
    display: flex;
    justify-content: center;
*/
    background: url(img/card.jpg);
}

.sale_price {
    position: relative;
    z-index: 1;
    top: -20px;
    left: -73px;
}

.sp_text {
    position: relative;
    top: -60px;
    left: -87px;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    transform: rotate(5deg);
}

.hurry_text {
    position: relative;
    left: 30px;
    width: 199px;
    height: 114px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    text-transform: uppercase;
}

.free_word {
    font-size: 24px;
    line-height: 1;
}

.sign_up_free {
    width: 389px;
    height: 314px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 119px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_up_free_text {
    width: 278px;
    height: 45px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 16px;
}

.sign_up_free_form {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f_form_name {
    width: 294px;
    height: 30px;
    background-color: #ededed;
    margin-bottom: 22px;
}

.f_form_phone {
    width: 294px;
    height: 30px;
    background-color: #ededed;
}

.sign_up_free_confidential {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 14px;
}

.sign_up_free_button {
    width: 293px;
    height: 68px;
    background-image: linear-gradient(to top, #f9d503, #ffdc0d);
    margin-top: 18px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}

.sign_up_free_button_text {
    width: 170px;
    height: 42px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #3a3a39;
    text-align: center;
    padding-top: 13px;
}

/*2-nd block-------------------------------------------------------*/

.second_block_1 {
    height: 453px;
    display: flex;
    justify-content: center;
}

.icon_block_1 {
    /*    width: 739px;*/
    width: 813px;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
}

.icon_first_row {
    display: flex;
    justify-content: space-between;
}

.icon_second_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.ico_1 {
    height: 101px;
    width: 177px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ico_1_text {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

.ico_calender {
    margin-top: 6px;
}

/*классы, относящиеся к ico_1*/

.i1 {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    width: 170px;
}

.i2 {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    width: 180px;
}

.i3 {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    width: 165px;
}

.i4 {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    width: 156px;
}

.i5 {
    width: 170px;
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

.i6 {
    width: 161px;
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

.ico_1_img {
    display: flex;
    justify-content: center;
}

/*----------------------------*/

.second_block_2 {
    height: 930px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sb_main_text {
    margin-top: 52px;
    width: 729px;
    height: 35px;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.sb_worries {
    height: 679px;
    width: 954px;
    margin-top: 22px;
}

/*к worries-------------*/

.worries_text_1 {
    position: relative;
    left: 100px;
    top: 65px;
    width: 163px;
    height: 71px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

.worries_text_2 {
    position: relative;
    left: 424px;
    top: -7px;
    width: 196px;
    height: 74px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

.worries_text_3 {
    position: relative;
    left: 758px;
    top: -80px;
    width: 170px;
    height: 72px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

.worries_text_4 {
    position: relative;
    left: 90px;
    top: 170px;
    width: 188px;
    height: 72px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

.worries_text_5 {
    position: relative;
    left: 434px;
    top: 95px;
    width: 173px;
    height: 33px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

.worries_text_6 {
    position: relative;
    left: 758px;
    top: 65px;
    width: 165px;
    height: 53px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
}

/*----------------------*/

.experts {
    width: 746px;
    height: 104px;
    border: solid 2px #ffffff;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.experts_text {
    width: 550px;
    height: 44px;
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #39393a;
}

.experts_ET {
    color: #28417c;
}

/*third_block----------------------------------------------------------*/

.third_block_1 {
    height: 1210px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third_block_1_title {
    width: 856px;
    height: 75px;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    margin-top: 47px;
    text-transform: uppercase;
}

.six {
    font-size: 60px;
    line-height: 0.4;
    color: #da2128;
}

.tb_text_description {
    width: 762px;
    height: 90px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: justify;
    color: #39393a;
    margin-top: 55px;
}

.tb_icon {
    width: 945px;
    height: 452px;
    margin-top: 43px;
    display: flex;
    flex-direction: column;
}

/*tb_icon---------------------*/

.tb_icon_firstrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tb_icon_secondrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 28px;
}

.tb_icon_thirdrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 28px;
}

.icon_text {
    margin-left: 30px;
}

.icon_head_text {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #28417c;
}

.icon_normal_text {
    width: 218px;
    height: 83px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: justify;
    color: #39393a;
    margin-top: 13px;
}

.icon_31 {
    display: flex;
    flex-direction: row;
}

/*---------------------------*/

.tb_about_us {
    height: 347px;
    width: 1075px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tb_aboutus_text {
    text-transform: uppercase;
    width: 212px;
    height: 19px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    margin-top: 58px;
}

.third_block_2 {
    height: 1083px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third_block_2_title {
    width: 807px;
    height: 35px;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    margin-top: 43px;
    text-transform: uppercase;
}

.tb2_icon {
    width: 964px;
    height: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 72px;
}

.tb2_icon_container {
    display: flex;
    flex-direction: row;
    margin-right: 23px;
}

.tb2_icon_text1 {
    width: 153px;
    margin-left: 13px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #3d3d3d;
}

.tb2_icon_text2 {
    width: 154px;
    margin-left: 13px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #3d3d3d;
}

.tb2_icon_text3 {
    width: 180px;
    margin-left: 13px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #3d3d3d;
}

/*fourth_block-------------------------------------------------------*/

.fourth_block_1 {
    height: 1200px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fb_title_text {
    width: 365px;
    height: 28px;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #28417c;
    margin-top: 49px;
    text-transform: uppercase;
}

.fb_text_description {
    width: 760px;
    height: 42px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #39393a;
    margin-top: 39px;
}

.fb_programs {
    width: 888px;
    height: 397px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.fb_program_container {
    width: 242px;
    height: 397px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fb_program_icon {
    width: 204px;
    height: 204px;
    margin-top: 20px;
}

.fb_program_text {
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 10px;
}

.fb_sub_text {
    width: 176px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding-left: 27px;
    margin-top: 9px;
    padding-top: 11px;
}

.fb_program_button {
    width: 206px;
    height: 33px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #f9d503, #ffdc0d);
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #3b3b3b;
    padding-top: 15px;
    margin-top: 12px;
}

.fb_your_options_text {
    width: 290px;
    height: 23px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #28417c;
    margin-top: 100px;
}

.fb_your_options {
    width: 890px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}

.fb_option_audition {
    width: 243px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #3b3b3b;
}

.slider {
    width: 243px;
    height: 3px;
    background-image: linear-gradient(to left, #53b7e8, #28417c 74%, #53b7e8);
    margin-top: 29px;
    margin-bottom: 29px;
}

.fb_option_text {
    width: 335px;
    height: 63px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #3b3b3b;
    margin-top: 47px;
}

.fb_two_buttons {
    width: 851px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
}

.fb_button_learn {
    width: 272px;
    height: 33px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #f9d503, #ffdc0d);
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #3b3b3b;
    padding-top: 12px;
}

.ili {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #3b3b3b;
    margin-top: 6px;
}

.fourth_block_2 {
    width: 1920px;
    height: 567px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fb_2_text {
    width: 810px;
    height: 69px;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 27px rgba(0, 0, 1, 0.4);
    margin-top: 28px;
    text-transform: uppercase;
}

.fb_2_subtext {
    width: 246px;
    height: 26px;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 27px rgba(0, 0, 1, 0.4);
    text-transform: uppercase;
    margin-top: 26px;
}

.fb_table {
    width: 971px;
    height: 305px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .7);
    margin-top: 39px;
}

/*таблица------------------------------*/

table {
    width: 971px;
    height: 305px;
    border-collapse: collapse;
}

.table_header {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.table_header td:first-child {
    border-right: 1px solid white;
    padding: 0px;
    padding-left: 15px;
}

.class_1 {
    border-right: 1px solid white;
    width: 403px;
    padding: 0px;
    padding-left: 15px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
}

.class_2 {
    width: 240px;
    border-right: 1px solid white;
    text-align: center;
}

.class_3 {
    width: 160px;
    border-right: 1px solid white;
    text-align: center;
}

.class_4 {
    width: 161px;
    text-align: center;
}

tr {
    height: 24px;
    border-bottom: 1px solid white;
}

tr:last-child {
    border-bottom: none;
}

td {}

.table_header {
    height: 32px;
}

/*-------------------------------------*/

/*fifth block----------------------------------------------------------*/

.fifth_block_1 {
    height: 975px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fib_text {
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    color: #28417c;
    margin-top: 56px;
}

@font-face {
    font-family: ArialNarrow;
    src: url(fonts/arial-narrow.ttf);
    font-style: normal;
    font-weight: normal;
}
